{% extends "frame.html" %}
{%- from 'bits.html' import link_css, script_src -%}

{% block head %}
  {{ link_css('lib/chosen-0.9.8/chosen.css') }}
  {{ link_css('style.css') }}
  <script class="link-to-static">var R = {TILES_URL: "{{ config['TILES_URL'] }}"};</script>
  <script src="http://code.jquery.com/jquery.min.js"></script>
  {{ script_src('jquery.cookie.js') }}
  {{ script_src('lib/chosen-0.9.8/chosen.js') }}
  {{ script_src('search.js') }}
  {{ script_src('form.js') }}
  <title>{% block title %}Natura2000{% endblock %}</title>
{% endblock %}

{% block natura2000_content %}
  <div class="natura2000">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>
{% endblock %}
