html, body { height: 100%; width: 100%; margin: 0; }
#tinygis-map { height: 100%; width: 100%; cursor: crosshair; }

.menu { z-index: 1100; position: absolute; top: 0; right: 0;
        border: 2px solid #888; border-right: 0; border-top: 0;
        background: #fff; padding: 5px; }

.identify { z-index: 1100; position: absolute; top: 50px; right: 0;
            border: 2px solid #888; border-right: 0;
            background: #fff; }
.identify-coordinates { margin: 5px; padding: 0; }
.identify-features { margin: 0; padding: 0; padding-left: 10px; list-style: none; }
.update-in-progress .identify-features { color: #888; }
.error-text { color: red; }

.editor { z-index: 1100; position: absolute; top: 150px; right: 0;
          border: 2px solid #888; border-right: 0;
          background: #fff; padding: 5px; }
.editor-features { margin: 0; padding: 0; list-style: none; }

.point-label { margin: 0; }
.point-geometry { margin-bottom: 5px; padding: 5px 5px 0; }
.point-geometry input { font-size: 10px; height: 10px; }

.polygon-geometry { margin: 0 0 5px; padding: 5px 5px 0; }
.polygon-geometry li:last-child { color: #aaa; }
