html, body {
    margin: 0;
}

a {
    cursor: pointer;
}

#tinygis-map {
    position: absolute;
    cursor: crosshair;
    z-index: 0;
    left: 220px;
    bottom: 0;
    right: 0;
    top: 0;
}

.menu {
    z-index: 1100;
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid #888; border-right: 0; border-top: 0;
    background: #fff;
    padding: 5px;
}

.identify {
    z-index: 1100;
    position: absolute;
    top: 50px;
    right: 0;
    border: 2px solid #888; border-right: 0;
    background: #fff;
}

.identify-coordinates {
    margin: 5px;
    padding: 0;
}

.identify-features {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    list-style: none;
}

.update-in-progress .identify-features {
    color: #888;
}

.error-text {
    color: red;
}

.editor {
    z-index: 1100;
    position: absolute;
    top: 150px;
    right: 0;
    border: 2px solid #888; border-right: 0;
    background: #fff;
    padding: 5px;
}

.editor-features {
    margin: 0;
    padding: 0;
    list-style: none;
}

.point-geometry {
    margin-bottom: 5px;
    padding: 5px 5px 0;
}

.point-geometry input {
    font-size: 10px;
    height: 10px;
}

.polygon-geometry {
    margin: 0 0 5px;
    padding: 5px 5px 0;
}

.feature-delete i {
    margin-bottom: -10px;
}

#sidebar {
    position: absolute;
    background: #fff;
    padding: 20px;
    z-index: 9999;
    width: 180px;
    bottom: 0;
    left: 0;
    top: 0;
}

#togglebar {
    -webkit-box-shadow: 3px 0px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 0px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 0px 5px rgba(50, 50, 50, 0.75);

    transition: background 200ms;
    -moz-transition: background 200ms;
    -webkit-transition: background 200ms;
    -o-transition: background 200ms;

    position: absolute;
    background: #C3DDEB;
    cursor: pointer;
    z-index: 9999;
    left: 220px;
    width: 8px;
    bottom: 0;
    top: 0;
}

#togglebar:hover {
    background: #81b8d6;
}
