html, body {
    margin: 0;
}

a {
    cursor: pointer;
}

#tinygis-map {
    position: absolute;
    cursor: crosshair;
    z-index: 0;
    left: 220px;
    bottom: 0;
    right: 0;
    top: 0;
}

#tinygis-map .olImageLoadError {
    display: none;
}

#sidebar .nav-stacked {
    padding: 10px 0;
    overflow: hidden;
    width: 189px;
}
#sidebar .nav-stacked li .expand {
    position: absolute;
    cursor: pointer;
    left: 10px;
    top: 10px;
}
#sidebar .nav-stacked li {
    position: relative;
}
#sidebar .overlays li a.item {
    padding-left: 30px;
}
#sidebar .overlays li a.item:hover {
    background: #fff;
}

#sidebar .nav-stacked .show-more {
    text-align: center;
}
#sidebar .nav-stacked .icon {
    opacity: .4;
    -moz-opacity: .4;
    filter:alpha(opacity=.44);
}
.lt-ie9 #sidebar .nav-stacked .icon {
    filter: none;
}

#sidebar .nav-stacked .selector {
    box-shadow: 0 0 2px #ccc inset;
    border: 1px solid #ccc;
    position: absolute;
    background: #fff;
    cursor: pointer;
    padding: 2px;
    height: 5px;
    right: 13px;
    width: 5px;
    top: 13px;
}
#sidebar .nav-stacked .selected {
    box-shadow: none;

}
#sidebar .nav-stacked .selected b {
    display: block;
    width: 5px;
    height: 5px;
    background: green;
}

.menu {
    overflow: hidden;
}
.menu .btn-container {
    float: right;
}
.openid-google {
    background: no-repeat url("openid-google.png");
    position: relative;
    padding: 0 5px;
    left: 2px;
    top: 1px;
}

.identify {
    z-index: 1100;
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid #888; border-top: 0; border-right: 0;
    background: #fff;
}

.identify-coordinates {
    margin: 5px;
    padding: 0;
}

.identify-features {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    list-style: none;
}

.update-in-progress .identify-features {
    color: #888;
}

.error-text {
    color: red;
}

.editor {
    position: relative;
    background: #eee;
    padding: 1px 10px;
    top: -4px;
}
.editor .title {
    position: relative;
    font-size: 12px;
    top: -5px;
}
.editor label.label-crs {
    display: inline;
}
.editor select[name=crs] {
    width: auto;
}

/* disable CRS editing */
.editor label.label-crs {
    display: none;
}

.editor-features {
    margin: 0;
    padding: 0;
    list-style: none;
}
.editor-features .btn-group {
    display: none;
}

.point-geometry {
    margin-bottom: 5px;
    padding: 5px 5px 0;
}

.point-geometry input {
    font-size: 10px;
    height: 10px;
}

.polygon-geometry {
    margin: 0 0 5px;
    padding: 5px 5px 0;
}

.btn-mini .icon {
    margin-top: -1px;
}

#sidebar {
    position: absolute;
    background: #fff;
    overflow: hidden;
    overflow-y: auto;
    padding: 20px;
    z-index: 9999;
    width: 180px;
    bottom: 0;
    left: 0;
    top: 0;
}

#togglebar {
    -webkit-box-shadow: 3px 0px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 0px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 0px 5px rgba(50, 50, 50, 0.75);

    transition: background 200ms;
    -moz-transition: background 200ms;
    -webkit-transition: background 200ms;
    -o-transition: background 200ms;

    position: absolute;
    background: #C3DDEB;
    cursor: pointer;
    z-index: 9999;
    left: 220px;
    width: 8px;
    bottom: 0;
    top: 0;
}

#togglebar:hover {
    background: #81b8d6;
}

.hide {
    display: none;
}
.delete {
    background: no-repeat url("/map/static/trash.gif");
    position: relative;
    padding: 1px 6px;
    margin-left: 5px;
    top: 4px;
}

.alert-container {
    z-index: 1100;
    position: absolute;
    top: 0;
    right: 0;
}

.alert {
    float: right;
    clear: right;
    box-shadow: 0px 0px 6px 3px #888;
}

.btn-text {
    position: relative;
    font-size: 12px;
    top: -5px;
}
