/* Standard Form for SPA and SCI
 * stylised by Sonia Andriu (tab = 2 spaces)
 * dark turquoise: #0098AA, light turquoise: #B6E9F8, gray: #7D7D7D, darker gray: #707070, blue: #335C9E, light blue: #D3E9F8.
 * NO ERRORS on http://jigsaw.w3.org/css-validator/ if 'Profile:CSS level 3' is selected.
 */


/* #################################
       EDIT A NATURA 2000 FORM 
   ################################ */
/* GLOBAL */
.error {
  color: red;
}

table .error {
  display: block;
}

h1, p {
  text-align: center;
}

h1 {
  font-size: 16px;
}

form {
  width: 100%;
  margin: 0px;
  padding: 0;
  font-size: 12px;
}

table {
  border-collapse: collapse;
  border: 1px solid #C0C0C0; 
}

table input, textarea, input {
  font-size: 12px;
}

table td {
  font-size: 12px;
}

thead {
  text-align: center;
  font-weight: bold;
  background: #ddd;
}

table th {
  color: #707070;
  padding: 4px;
}

textarea {
  min-width: 68%;
  min-height: 30px;
  max-width: 90%;
  margin-left: 7px;
}


/* SECTIONS' COMMON PROPERTIES */
h2 {
  color: #0098AA;
  /*margin-left: 5px; 15px;*/
  margin-top: 33px;
  margin-bottom: 0px;
  font-size: 16px;
}

.dict_children {
  background: #D9F0FF; 
  margin: 0px 2px 10px 2px; /* white space between sections */
  padding: 5px 0px;
}

.dict_children label {
  color: #0098AA;
  margin-left: 5px;
  font-size: 14px;
}

.dict_children input, 
.dict_children textarea {
  border: 1px solid #C0C0C0;
}

table caption {
  color: #0098AA;
  text-align: left;
  padding: 5px;
  font-size: 14px;
}

.field-species_bird_extra caption,
.field-history caption,
.field-national caption,
.field-international caption {
  min-width: 570px;  /* otherwise these captions appear on 2 rows, when the tables have no data yet */
}

.field-corine caption,
.field-administrative caption {
  min-width: 370px;  /* otherwise these captions appear on 2 rows, when the tables have no data yet */
}

.dict_children table {
  margin-left: 3px;
}

.dict_children table td {
  color: #707070;
  padding: 3px 2px;
}


/* SECTIONS' PARTICULAR PROPERTIES */

/* "Coduri ale siturilor Natura 2000", 
   "Longitudine",
   "Latitudine" */
.field-other_sites p,
.field-longitude p,
.field-latitude p {
  color: #707070;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 0px;
  margin-top: 5px;
}

/* first paragraph from certain sections */
.field-other_sites p:first-child,
.field-longitude p:first-child,
.field-latitude p:first-child {
  color: #0098AA;
  margin-left: 7px;
  font-size: 14px;
}

.field-other_sites input {
  margin-left: 15px;
}

/* label "Responsabili" ,
   label "Numele sitului" */
label[for="f_section1_responsible"],
label[for="f_section1_site_name"] {
  display: block;
  margin-top: 5px;
  margin-right: 5px;
}

/* labels displayed in gray */
.field-date label,
.field-longitude label,
.field-latitude label,
.field-altitude .dict_children label,
.field-biogeographic .dict_children label,
.field-admin_region .dict_children label,
.field-administrative label {
  color: #707070;
  margin-left: 15px;
  font-size: 12px;
}


/* divs displayed inline in order to save vertical space */
 .field-date .dict_children,
.field-longitude .dict_children,
.field-latitude .dict_children,
.field-altitude .dict_children,
.field-admin_region .dict_children,
.field-biogeographic .dict_children,
.field-map .dict_children {
  display: inline;
  margin-right: 5px;
  margin-left: 0px;
}


/* set the max width for all text inputs: (number_of_digits+1) * 10 px */
#f_section1_type {
  max-width: 20px; /* that input holds one letter */
}

#f_section1_code,
.field-other_sites input {
  max-width: 100px; /* that input holds 9 digits */
}

#f_section1_date_document_add,
#f_section1_date_document_update,
.field-date input,
.field-history .field-date {
  max-width: 70px; /* those inputs hold 6 digits, i.e. it's a date (yyyymm) */
}

.field-longitude input,
.field-latitude input {
  max-width: 50px; /* those inputs hold max 3 digits + a sign */
}

#f_section2_long,
#f_section2_lat {
  max-width: 80px; /* those input hold 6-7 digits */
}

.field-altitude input {
  max-width: 60px; /* those inputs hold max 5 digits */
}

.field-percentage,
.field-code {
  max-width: 50px; /* those inputs hold 3-4 digits */
}

.field-coverage,
.field-characteristics input,
.field-overlap {
  max-width: 40px; /* those inputs hold max 3 digits; it's a percent */
}  

.field-reproduction,
.field-wintering,
.field-passage {
  max-width: 110px; /* those inputs hold 13-14 digits */
}

.field-resident {
  max-width: 100px; /* those inputs hold less than 13 digits */
}

.field-name {
  max-width: 160px; /* those inputs can hold more than 28 letters */
  font-size: 12px;
}

.field-history .field-field {
  min-width: 200px; /* number of digits not specified */
}

.field-history .field-description {
  min-width: 500px; /* number of digits not specified, but should be 2.5 times greater than .field-history field-field */
}

/* labels for main sections */
.field-altitude p,
.field-admin_region p,
.field-biogeographic p,
.field-map p,
.field-management p,
.field-administrative p,
.field-date p,
.field-characteristics p,
.field-activity p {
  text-align: left;
  color: #0098AA;
  margin-left: 7px;
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 14px;
}

.field-species_plant {
  width: 60%;
  margin: 0;
  padding: 0;
}


/* labels displayed as blocks */
label[for="f_section4_quality"],
label[for="f_section4_vulnerability"],
label[for="f_section4_designation"],
label[for="f_section4_ownership"],
label[for="f_section4_documentation"],
label[for="f_section6_responsible"],
label[for="f_section6_plans"],
label[for="f_section7_limits"],
label[for="f_section1_name"] {
  display: block;
  margin-top: 5px;
  margin-right: 5px;
}

.field-classification caption,
.field-external caption {
  width: 300px;
}


/* labels for subsections, displayed with gray */
.field-map .dict_children label,
.field-internal caption,
.field-external caption {
  color: #707070;
}

.field-internal caption {
  min-width: 300px;
}

input[type="submit"] {
  margin-left: 15px;
}


/* table rows, displayed with gray, and some labels */
.field-characteristics label,
.field-management .dict_children label {
  display: block;
  margin-top: 5px;
  margin-right: 5px;
  color: #707070;
}

.field-administrative select {
  min-width: 150px;
}

.field-management .dict_children {
  margin-bottom: 0px;
}

.field-date .dict_children {
  margin-left: 0px;
}

.field-map .dict_children label {
  font-size: 12px;
} 

.table-append a.add {
  display: block;
  width: 16px;
  height: 16px;
  background: url("./add.png");
}


/* #################################
       VIEW A NATURA 2000 FORM 
   ################################ */
.editedForm {
  color: #335C9E;
  border: 1px solid #335C9E;
  padding: 5px;
  margin-top: 15px;
}

.editedForm h1 {
  font-size: 19px !important;
  text-align: center !important;
}

.editedForm > p {
  text-align: center !important;
}

.editedForm h2 {
  color: #fff;
  font-size: 13px;
  background: #335C9E;
  padding-left: 5px;
}

.editedForm div div ul li {
  color: #335C9E;
}

/* space between h2 title and div with a certain input, in the view standard form */
.editedForm h2~div {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px !important; /* if padding, then sections/tables with no content at all, like section 5, appear in the form */
  /*background: #D9F0FF;*/
}

.center-column h1 ~ p {
  /*text-align: left;*/
}

.center-column form input[type="submit"] {
  margin-left: 0;
  margin-bottom: 10px;
}

.center-column {
  margin-bottom: 20px;
}

.center-column div div {
  margin-bottom: 5px;
}

.nameOfField {
  color: #000;
  /*color: #335C9E;#0098AA;*/
  margin-left: 5px;
}

.editedForm table td {
  padding: 0px 5px;
}

.editedForm table {
  margin-left: 5px;
}

.editedForm h2~div p {
  color:#000;/*#335C9E; #0098AA;*/
  text-align: left !important;
  margin-left: 5px;
}

.editedForm h2~div div p {
  margin-top: 5px;
}

.editedForm h2~div  p~div .nameOfField {
  color: #444; /*#707070;*/
  margin-left: 15px;
}

.editedForm table caption {
  min-width: 500px;
  color: #000;/*#707070;*/
  margin-top: 5px;
}

.editedForm thead {
  background: #516E9E;
}

.editedForm th,
.editedForm thead tr td  {
  color: #fff;
}

h2~div ul li div {
  display: inline; /* section 'Harta fizica' */
}  


/* #################################
      SEARCH IN NATURA 2000 FORMS
   ################################ */

.search-facet-selected {
  font-weight: bold;
}

/* label above search area */
.center-column h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px; /* just like any left-column-title on this site */
  font-weight: bold;
}  

/* label near search text input */
label[for="f_text"] {
  font-size: 14px;
  font-weight: bold;
  margin-left: 150px;
  padding-right: 5px;
  color: #335C9E;
}

.search-criteria {
  border: 1px solid #C5D9E8;/*#ABDBE8;*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #D3E9F8;/*#B6E9F8;*/
  margin-bottom: 10px;
  padding: 15px;
}

/*
.search-criteria div:first-child {
  display: inline;
}
*/

.search-simple .search-field {
  display: inline;
}

/* text field for search */
.field-text {
  border: 1px solid #335C9E;
  width: 350px;
}

.search-criteria input[type="submit"] {
  margin: 0px 10px;
  background: #335C9E;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;

}

.search-advanced-button {
  font-size: 14px;
  padding: 0px 3px;
}

.search-advanced {
  display: none;
  margin-top: 10px;
}

.search-advanced-visible .search-advanced {
  display: block;
  border: 0px solid orange;
}

.search-advanced-visible .search-advanced label,
.search-advanced-visible .search-advanced select {
  color: #444;
  font-size: 14px;
}

.search-toggle.simple,
.search-advanced-visible .search-toggle.advanced {
  display: none;
}

.search-advanced-visible .search-toggle.simple,
.search-toggle.advanced {
  display: inline;
}

.search-facets {
  float: left;
  width: 220px;
  background: #D3E9F8;
  border: 1px solid #C5D9E8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 15px;
}

.search-facets label {
  display: block;
  color: #335C9E;
  margin-top: 10px;
  margin-left: 5px;
  font-weight: bold;
}

/* margin-bottom for the last ul in the div .search-facets */
.search-facets div:last-of-type {
  margin-bottom: 10px;
}

.search-results {
  border: 1px solid #0098AA;
  margin-left: 230px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-bottom: 5px;
}

/* list with filtered results */
.search-facet-items {
  padding-left: 25px;
}

.search-facet-items li {
  color: #444;
}

.search-facets span {
  margin-left: 15px;
}

/* list with sites' names */
.resultsUl {
  background: #eee;
  float: left;
}

.search-results label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}


/* #####################################
      STATISTICS FOR NATURA 2000 FORMS
   ##################################### */
.stats {
  max-width: 758px;
  margin-left: 240px;
  border: 0px solid #0098AA;
}

.stats table {
  border: none;
  margin-top: 20px;
}

.stats thead {
  background: #fff;
  border-bottom: 2px solid #335C9E;
}  

.stats th {
  color: #335C9E;
  font-weight: bold;
  padding-left: 15px;
}

.stats table td {
  padding: 0px 10px;
  text-align: right;
}     

.stats table td:first-child {
  text-align: left;
  padding-left: 5px;
}
   
.stats table tr:nth-child(2n) {
  border-bottom: 1px solid #C0C0C0; 
 /*background: #eee;*/
}   

.stats table td:nth-child(4n) {
  background: #ddd;
}


/* #################################################
       PRINT A NATURA 2000 FORM (black & white)
   ################################################ */
@media print { 
     
    #header,
    #breadcrumb, 
    #footer,
    .wrap > ul,
    .editButton {
      display: none; /* hide the rest of the page and the edit button */
    }
     
    .editedForm {
      display: visible;
      margin: 0;
      padding: 0;
      color: #636363; /* the color for all text, including field values; must be different from nameOfField's color */
      border: none;
      font-size: 9.03pt !important;
    }
    
    .editedForm > p { /* the legend of the form */
      text-align: center !important;
      color: #000;
    }
    
    .editedForm h1 {
      font-size: 14.3pt !important;
      text-align: center !important;
      color: #000;
    }
    
    .editedForm h2 {
      color: #000;
      font-size: 9.78pt;
      background: #fff !important;
      border: 1px solid #000;
      padding-left: 5px;
    }
    
    .editedForm h2~div p {
      color: #000;
      text-align: left !important;
      margin-left: 5px;
    }

    .editedForm h2~div  p~div .nameOfField {
      color: #000;
      margin-left: 15px;
      font-style: italic;
    }
     
    /* space between h2 title and div with a certain input, in the view standard form */
    .editedForm h2~div {
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 0px !important; /* if padding, then sections/tables with no content at all, like section 5, appear in the form */
    }
    
    .editedForm div div ul li {
      color: #636363; /* same as the rest of field values */
    }
    
    .editedForm table thead {
      font-weight: normal !important;
    }
    
    .editedForm table td {
      padding: 0px 5px;
    }

    .editedForm table {
      margin-left: 2px;
    }

    .editedForm table tr {
      page-break-inside: avoid !important; /*?*/
    }  

    .editedForm h2~div div p {
      margin-top: 5px;
    }

    .editedForm table caption {
      min-width: 500px;
      color: #000;/*#707070;*/
      margin-top: 5px;
    }

    .editedForm thead {
      background: #eee;
    }

    .editedForm th,
    .editedForm thead tr td  {
      color: #333;
    }  
    
    .editedForm ul {
      list-style-type: square !important;
    }
    
    .nameOfField {
      color: #000;
      margin-left: 5px;
    }

    h2~div ul li div {
      display: inline; /* section 'Harta fizica' */
    } 
     
    h2~div ul {
       display: visible; /* the list for section 7, aka maps */
       list-style-type: numeric;
     } 

    .center-column {
      margin-bottom: 20px !important;
    }

    .center-column div div {
      margin-bottom: 5px !important;
    }

}


