/* Standard Form for SPA and SCI
 * stylised by Sonia Andriu (tab = 2 spaces)
 * dark turquoise: #0098AA, light turquoise: #B6E9F8, gray: #7D7D7D.
 */


/* GLOBAL */
.error {
  color: red;
}

table .error {
  display: block;
}

h1, p {
  text-align: center;
}

h1 {
  font-size: 16px;
}

form {
  width: 100%; /* no less than 80% */
  margin: 0px; /*auto;*/
  padding: 0;
  font-size: 12px;
  /*font-family: inherited;*/
  /*font-family: Corporate, Arial, Verdana, sans-serif;*/
}

table {
  border-collapse: collapse;
  border: 1px solid #fff; 
}

table td {
  font-size: 12px;
}

thead {
  text-align: center;
  font-weight: bold;
  background: #ddd;
}

table th {
  color: #7D7D7D;
  padding: 4px;
}

textarea {
  min-width: 38%;
  min-height: 30px;
  max-width: 90%;
  margin-left: 7px;
}


/* SECTIONS' COMMON PROPERTIES */
h2 {
  color: #0098AA;
  margin-left: 15px;
  margin-top: 33px;
  font-size: 16px;
}

.dict_children {
  background: #B6E9F8;
  margin: 0px 2px 10px 2px; /* white space between sections */
  padding: 5px;
}

.dict_children label {
  color: #0098AA;
  margin-left: 7px;
}

.dict_children input, 
.dict_children textarea {
  border: 1px solid #C0C0C0;
}

table caption {
  color: #0098AA;
  text-align: left;
  padding: 5px 0px;
}

.dict_children table {
  margin-left: 7px;
}

.dict_children table td {
  color: #7D7D7D;
  padding: 3px 2px;
}


/* SECTIONS' PARTICULAR PROPERTIES */

/* "Coduri ale siturilor Natura 2000", 
   "Longitudine",
   "Latitudine" */
.field-other_sites p,
.field-longitude p,
.field-latitude p {
  color: #7D7D7D;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 0px;
  margin-top: 5px;
}

/* first paragraph from certain sections */
.field-other_sites p:first-child,
.field-longitude p:first-child,
.field-latitude p:first-child {
  color: #0098AA;
  margin-left: 7px;
}

.field-other_sites input {
  margin-left: 15px;
}

/* label "Responsabili" ,
   label "Numele sitului" */
label[for="f_section1_respondent"],
label[for="f_section1_site_name"] {
  display: block;
  margin-top: 5px;
  margin-right: 5px;
}

/* labels displayed in gray */
.field-sit_dates label,
.field-longitude label,
.field-latitude label,
.field-altitude .dict_children label,
.field-bio_region .dict_children label,
.field-admin_region .dict_children label,
.field-regcod label {
  color: #7D7D7D;
  margin-left: 15px;
}


/* divs displayed inline in order to save vertical space */
.field-sit_dates .dict_children,
.field-longitude .dict_children,
.field-latitude .dict_children,
.field-altitude .dict_children,
.field-admin_region .dict_children,
.field-bio_region .dict_children,
.field-map .dict_children,
.field-None .dict_children {
  display: inline;
  margin-right: 5px;
  margin-left: 0px;
}


/* set the max width for all text inputs: (number_of_digits+1) * 10 px */
#f_section1_type {
  max-width: 30px; /* that input holds one letter */
}

#f_section1_sitecode,
.field-other_sites input {
  max-width: 100px; /* that input holds 9 digits */
}

#f_section1_date,
#f_section1_update,
.field-sit_dates input {
  max-width: 70px; /* those inputs hold 6 digits, i.e. it's a date (yyyymm) */
}

.field-longitude input,
.field-latitude input {
  max-width: 50px; /* those inputs hold max 3 digits + a sign */
}

#f_section2_long,
#f_section2_lat {
  max-width: 80px; /* those input hold 6-7 digits */
}

.field-altitude input {
  max-width: 60px; /* those inputs hold max 5 digits */
}

.field-percentage,
.field-code {
  max-width: 50px; /* those inputs hold 3-4 digits */
}

.field-cover,
.field-site_characteristics input,
.field-overlap {
  max-width: 40px; /* those inputs hold max 3 digits; it's a percent */
}  

.field-reproduction,
.field-resident,
.field-wintering,
.field-passage {
  max-width: 130px; /* those inputs hold 13-14 digits */
}

/* text inputs from tables */
.field-name {
  max-width: 150px;
}


/* labels for main sections */
.field-altitude p,
.field-admin_region p,
.field-bio_region p,
.field-map p,
.field-management p,
.field-regcod p,
.field-sit_dates p,
.field-site_characteristics p,
.field-in_jur p {
  text-align: left;
  color: #0098AA;
  margin-left: 7px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.field-plants_types {
  width: 60%;
  margin: 0;
  padding: 0;
}


/* labels displayed as blocks */
label[for="f_section4_quality"],
label[for="f_section4_vulnar"],
label[for="f_section4_design"],
label[for="f_section4_owner"],
label[for="f_section4_docum"],
label[for="f_section6_responsible"],
label[for="f_section6_plans"],
label[for="f_section7_site_limits"],
label[for="f_section1_sit_name"] {
  /*float: left;*/
  display: block;
  margin-top: 5px;
  margin-right: 5px;
}

.field-clasification caption,
.field-outside_activities caption {
  width: 300px;
}


/* labels for subsections, displayed with gray */
.field-map .dict_children label,
.field-inside_activities caption,
.field-outside_activities caption {
  color: #7D7D7D;
}

.field-inside_activities caption {
  min-width: 300px;
}

input[type="submit"] {
  margin-left: 15px;
}


/* table rows, displayed with gray, and some labels */
.field-site_characteristics label,
.field-management .dict_children label {
  display: block;
  margin-top: 5px;
  margin-right: 5px;
  color: #7D7D7D;
}

.field-management .dict_children {
  margin-bottom: 0px;
}

.field-sit_dates .dict_children {
  margin-left: 0px;
}


/* PRINT NOT FINISHED ............. */
@media print {

  form {
    background: none !important;
	font-size: 10pt; /* 14px ~= 10.5 pt */
  }
	
  table {
  border: 1px solid #000; 
  }

}


