{% extends 'layout.html' %}

{% block content %}

<h1>Căutare</h1>

<form action="{{ url_for('webpages.search') }}">

  {% do form.begin(widgets_template='search') -%}

  <div class="search-criteria">

  <div>{{ form.widget(search_form["text"]) }}</div>

  <input type="submit">

  [<a href="#" class="search-advanced-button">advanced search</a>]

  <div class="search-advanced">
  {%- for name in search_form.properties.order %}
    {% set field = search_form[name] %}
    {% if field.properties.advanced %}
      {{ form.widget(field) }}
    {% endif %}
  {% endfor %}
  </div>

  </div>

  {%- do form.end() %}

</form>


[<a href="{{ url_for('webpages.edit') }}">new</a>]
<ul>
{% for doc_id in doc_id_list %}
  <li>
    {{ doc_id }}
    [<a href="{{ url_for('webpages.view', doc_id=doc_id) }}">view</a>]
    [<a href="{{ url_for('webpages.edit', doc_id=doc_id) }}">edit</a>]
  </li>
{% endfor %}
</ul>
{% endblock %}
