<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='search.js') }}"></script>
</head>
<body>

<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="{{ url_for('static', filename='form.js') }}"></script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}{% endblock %}

</body>
</html>
