{%- from 'bits.html' import link_css, script_src -%}
<!doctype html>
<html>
<head>
  {{ link_css('leaflet-0.3.1/leaflet.css') }}
  {{ link_css('style.css') }}
  <script class="link-to-static">
    var R = {assets: "{{ url_for('static', filename='') }}"};
  </script>
  {% if config['JS_DEBUG'] %}<script>R['debug'] = true;</script>{% endif %}
  <!--[if lt IE 9]><script>R.ie_disable_map = true;</script><![endif]-->
  {{ script_src('jquery-1.7.1.min.js') }}
  {{ script_src('jquery.cookie.js') }}
  {{ script_src('leaflet-0.3.1/leaflet.js') }}
  {{ script_src('search.js') }}
  {{ script_src('form.js') }}
  {{ script_src('map.js') }}
  <title>{% block title %}Natura2000{% endblock %}</title>
</head>
<body>
  <div class="natura2000">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </div>
</body>
</html>
