{% extends 'layout.html' %}
{% from 'search_macros.html' import search_form_html, search_facets_html %}

{% block title %}{{ super() }} &mdash; căutare{% endblock %}

{% block content %}

<h1>Natura2000 - Căutare</h1>

{{ search_form_html(form, search_form) }}

{% if search_answer.docs %}

  {{ search_facets_html(form, search_form) }}

  {% if (not search_form['nuts2'].is_empty) or (not search_form['nuts3'].is_empty) %}
  <div class="stats-results">
    <h2>Statistici</h2>
    {% for compute, label in stat_labels.items()|sort %}
      {% set url = form.url_for_search(search_form, 'webpages.stats', compute=compute) %}
      <a href="{{ url }}">{{ label }}</a>  
    {% endfor %}
  </div>
  {% endif %}

  <div class="search-results">

    <h2>{{ search_answer.docs|count }} rezultate</h2>

    <div class="map"></div>

    <ul>
    {% for r in search_answer.docs %}
      <li>
        {% set url = url_for('webpages.view', doc_id=r['id']) %}
        <a class="sitename" href="{{ url }}">{{ r.name }}</a>
        <span class="sitecode">{{ r['id'] }}</span>
      </li>
    {% endfor %}
    </ul>

  </div>
{% else %}

  <span class="noResults">Nici un rezultat in baza de date pentru acest query.</span>

{% endif %}

{% endblock %}
