{% extends 'layout.html' %}
{% from 'search_macros.html' import search_form_html, search_facets_html %}

{% block content %}

<h1>Căutare</h1>

{{ search_form_html(form, search_form) }}

{% if search_answer.docs %}

  {{ search_facets_html(form, search_form) }}

  statistici:
  {% for compute in available_stats %}
    {% set url = form.url_for_search(search_form, 'webpages.stats', compute=compute) %}
    <a href="{{ url }}">{{ compute }}</a>
  {% endfor %}

  <h2>Rezultate</h2>
  <ul class="search-results">
  {% for r in search_answer.docs %}
    <li><a href="{{ url_for('webpages.view', doc_id=r['id']) -}}">
            {{- r.name }}</a></li>
  {% endfor %}
  </ul>

{% else %}

  <p>Nici un rezultat in baza de date pentru acest query.</p>

{% endif %}

{% endblock %}
