{% extends 'layout.html' %}

{% block content %}

<h1>Căutare</h1>

<form>

  {% do form.begin(widgets_template='search') -%}

  <div class="search-criteria">

  <div>{{ form.widget(search_form["text"]) }}</div>

  <input type="submit">

  [<a href="#" class="search-advanced-button">advanced search</a>]

  <div class="search-advanced">
  {%- for name in search_form.properties.order %}
    {% set field = search_form[name] %}
    {% if field.properties.advanced %}
      {{ form.widget(field) }}
    {% endif %}
  {% endfor %}
  </div>

  </div>

  {%- do form.end() %}

</form>

<div class="search-facets">
{% if search_answer.docs %}
  {% do form.begin(widgets_template='facet') -%}
  {%- for name in search_form.properties.order %}
    {% if search_form[name].properties.facet %}
    <div>{{ form.widget(search_form[name]) }}</div>
    {% endif %}
  {%- endfor %}
  {%- do form.end() %}
{% endif %}
</div>


{% if search_answer.docs %}
  <ul class="search-results">
  {% for r in search_answer.docs %}
    <li><a href="{{ url_for('webpages.view', doc_id=r['id']) -}}
          ">{{ r.data.section1.name }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>Nici un rezultat in baza de date pentru acest query.</p>
{% endif %}

{% endblock %}
