{% macro number(value, fmt='%.2f') %}
{{- fmt | format(value) -}}
{% endmacro %}

{% for code, name in corine_areas %}
  {% if stat['total_%s' % code] != 0 %}

  {{ name }}: <span class="number">{{ number(stat['total_%s' % code]) }}</span> ha
  <table>
    <thead>
      <tr>
        <th>Nume</th>
        <th>Arie</th>
        <th>Proporție în habitat</th>
        <th>Arie în habitat</th>
      </tr>
    </thead>

    <tbody>
    {% for row in stat['table_%s' % code] %}

      {% set url = url_for('webpages.view', doc_id=row['id']) %}

      <tr>
        <td><a href="{{ url }}">{{ row['name'] }}</a></td>
        <td class="number">{{ number(row['total_area']) }}</td>
        <td class="number">{{ number(row['corine_percent'], fmt='%.0f') }}%</td>
        <td class="number">{{ number(row['corine_area']) }}</td>
      </tr>

    {% endfor %}
    </tbody>

  </table>
  {% endif %}
{% endfor %}