{% macro number(value, fmt='%.2f') %}
{{- fmt | format(value) -}}
{% endmacro %}

{% for code, name in protected_areas %}
  {% if stat['total_%s' % code] != 0 %}


  <table>

    <caption>{{ name }}</caption>

    <thead>
      <tr>
        <th>Nume</th>
        <th>Suprafața totală (ha) (ha)</th>
        <th>Pondere (%)</th>
        <th>Suprafața (ha)</th>
      </tr>
    </thead>

    <tbody>
    {% for row in stat['table_%s' % code] %}

      {% set url = url_for('webpages.view', doc_id=row['id']) %}

      <tr>
        <td><a href="{{ url }}">{{ row['name'] }}</a></td>
        <td class="number">{{ number(row['total_area']) }}</td>
        <td class="number">{{ number(row['protected_percent'], fmt='%.0f') }}</td>
        <td class="number">{{ number(row['protected_area']) }}</td>
      </tr>

    {% endfor %}
    </tbody>

    <tfoot>
      <tr>
        <td colspan="3">Total</td>
        <td class="number">{{ number(stat['total_%s' % code]) }}</td>
      </tr>
    </tfoot>

  </table>
  {% endif %}
{% endfor %}
