{% extends 'layout.html' %}

{% block content %}
<div class="editedForm">
<h1>FORMULAR STANDARD</h1>
<p>Pentru ariile de protectie speciala (SPA), pentru situri eligibile 
  ca situri de importanta comunitara (SCI)</p>

<span class="editButton">
 [<a href="{{ url_for('webpages.edit', doc_id=doc_id) }}">edit</a>]
</span>
{% do form.begin(widgets_template='view') -%}
{%- for name in form.order(doc) %}
  <div>{{ form.widget(doc[name]) }}</div>
{%- endfor %}
{%- do form.end() %}
</div>
{% endblock %}
