{% extends 'layout.html' %}

{% block title %}{{ super() }} &mdash; {{ title }}{% endblock %}

{% block content %}

<div class="doc-view">

  <h1>{{ title }}</h1>

  <span class="button">
   [<a href="{{ url_for('webpages.edit', doc_id=doc_id) }}">edit</a>]
  </span>

  <span class="button">
    [<a href="javascript:window.print()">print
    <img src="{{ url_for('static', filename='printer.png') }}"></a>]
  </span>

  {% do form.begin(widgets_template='view') -%}
  {%- for name in form.order(doc) %}
    <div>{{ form.widget(doc[name]) }}</div>
  {%- endfor %}
  {%- do form.end() %}

  <script>$('.field-section7').append($('<div class="map">'));</script>

</div>

{% endblock %}
