{% set html = form_generator %}

{% macro widget(field) %}
  {%- set macro = {
      'input': input,
      'radio': radio,
      'dict': dict,
      'list': list,
      'textarea': textarea,
      'section': section,
    }[field.properties.widget] or input -%}
  {{- macro(field) -}}
{% endmacro %}

{% macro errors(field) %}
  {% for msg in field.errors %}
    <span class="error">{{ msg }}</span>
  {% endfor -%}
{% endmacro %}

{% macro input(field) %}
  {%- do html.begin(auto_domid=true, auto_for=true) %}
  {{ html.label(field, contents=field.properties.label) }}
  {{ html.input(field, type=field.properties.type) }}
  {{- errors(field) -}}<br />
  {%- do html.end() %}
{% endmacro %}

{% macro radio(field) %}
  {%- do html.begin(auto_domid=true, auto_for=true) %}
  <td>
  {% for value in field.valid_values %}
    {{ html.input(field, type="radio", value=value) }}
  {% endfor %}
  {{- errors(field) -}}
  </td>
  {%- do html.end() %}
{% endmacro %}

{% macro textarea(field) %}
  {%- do html.begin(auto_domid=true, auto_for=true) %}
  {{ html.label(field, contents=field.properties.label) }}
  {{ html.textarea(field) }}
  {{- errors(field) -}}<br />
  {%- do html.end() %}
{% endmacro %}

{% macro dict_children(field) %}
  {%- for child_name in field.properties.order %}
  {{ widget(field[child_name]) }}
  {% endfor -%}
{% endmacro %}

{% macro dict(field) %}
  <p>{{ field.properties.label }}</p>
  {{ dict_children(field) }}
{% endmacro %}

{% macro list(field) %}
  {{ field.properties.label }} <br />
  {{ field.append('') or "" }}
  {{ field.append('') or "" }}
  {% for child in field %}
  {{ widget(child) }}
  {% endfor %}
{% endmacro %}

{% macro section(field) %}
  {%- do html.begin(auto_domid=true, auto_for=true) %}
  <h2>{{ field.properties.label }}</h2>
  {{ dict_children(field) }}
  {%- do html.end() %}
{% endmacro %}



{% macro label(field) %}
  {%- set macro = {
      'input': simple_label,
      'dict': nested_label,
    }[field.properties.widget] or simple_label -%}
  {{- macro(field) -}}
{% endmacro %}

{% macro simple_label(field) %}
  <th>{{ field.label }}</th>
{% endmacro %}

{% macro nested_label(field) %}
  {%- for child_name in field.properties.order %}
  {{ label(field[child_name]) }}
  {% endfor -%}
{% endmacro %}
