{% macro _label(form, field) %}
  {% if not form['skip_labels'] %}
    {{ form.label(field, contents=field.properties.label) }}
  {% endif %}
{% endmacro %}

{% macro input(form, field) %}
  {%- do form.begin(auto_domid=true, auto_for=true) %}
  {{ _label(form, field) }}
  {{ form.input(field, class="field-%s" % field.name) }}
  {%- do form.end() %}
{% endmacro %}

{% macro facets(form, field) %}
  {{ _label(form, field) }}
  {% if field.value %}
    <span class="search-facet-selected">{{ field.value }}</span>
    {% set url = form.url_for_search(field.root, **{field.name.encode('ascii'): None}) %}
    [<a href={{ url }}>X</a>]
  {% else %}
    <ul class="search-facet-items">
    {% for item in form['facets'][field.name] %}
      {% set url = form.url_for_search(field.root, **{field.name.encode('ascii'): item.name}) %}
      <li><a href="{{ url }}">{{- item.name }}</a> ({{ item.count }})</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro select(form, field) %}
  {{ _label(form, field) }}
  {{ form.select.open(field, class="field-%s" % field.name) }}
  {{ form.option(field, contents='') }}
  {% for value in field.valid_values %}
    {% set value_label = field.properties.value_labels[value] %}
    {{ form.option(field, value=value, contents=value_label) }}
  {% endfor %}
  {{ form.select.close() }}
{% endmacro %}
