{% macro _label(form, field) %}
  {% if not form['skip_labels'] %}
    {{ form.label(field, contents=field.properties.label) }}
  {% endif %}
{% endmacro %}

{% macro input(form, field) %}
  {%- do form.begin(auto_domid=true, auto_for=true) %}
  {{ _label(form, field) }}
  {{ form.input(field, class="field-%s" % field.name) }}
  {%- do form.end() %}
{% endmacro %}

{% macro facets(form, field) %}
  {{ _label(form, field) }}
  <ul class="search-facet-items">
  {% for item in form['facets'][field.name] %}
    {% set url = form.url_for_search(field.root, **{field.name: item.name}) %}
    <li><a href="{{ url }}">{{- item.name }}</a> ({{ item.count }})</li>
  {% endfor %}
  </ul>
{% endmacro %}
