{% macro _label(form, field) %}
  {% if not form['skip_labels'] %}
    <span class="nameOfField">{{ field.properties.label }}</span>
  {% endif %}
{% endmacro %}

{% macro input(form, field) %}
  {%- if field.value is not none %}
  {{ _label(form, field) }}
  {{ field.value }}
  {% endif -%}
{% endmacro %}

{% macro radio(form, field) %}
  {{ input(form, field) }}
{% endmacro %}

{% macro select(form, field) %}
  {% if field.properties.value_labels %}
    {%- if field.value is not none %}
      {{ _label(form, field) }}
      {{ field.properties.value_labels[field.value] }}
    {% endif -%}
  {% else %}
    {{ input(form, field) }}
  {% endif %}
{% endmacro %}

{% macro textarea(form, field) %}
  {{ input(form, field) }}
{% endmacro %}

{% macro hidden(form, field) %}
{% endmacro %}

{% macro checkbox(form, field) %}
  {% if field.value %}
    {{ _label(form, field) }}
  {% endif %}
{% endmacro %}

{% macro _dict_children(form, field) %}
  {%- for child_name in field.properties.order %}
  <div>
  {{ form.widget(field[child_name]) }}
  </div>
  {% endfor -%}
{% endmacro %}

{% macro dict(form, field) %}
  <p>{{ field.properties.label }}</p>
  {{ _dict_children(form, field) }}
{% endmacro %}

{% macro list(form, field) %}
  {{ field.properties.label }}
  <ul>
  {% for child in field %}
    <li>{{ form.widget(child) }}</li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro _table_th(form, field, prefix='') %}
  {% if field.properties.order %}
    {% for child_name in field.properties.order %}
      {{ _table_th(form, field[child_name], prefix=prefix + field[child_name].properties.label + ' - ') }}
    {% endfor %}
  {% else %}
    <td>{{ prefix[:-3] }}</td>
  {% endif %}
{% endmacro %}

{% macro _table_td(form, field) %}
  {% if field.properties.order %}
    {% for child_name in field.properties.order %}
      {{ _table_td(form, field[child_name]) }}
    {% endfor %}
  {% else %}
    {% if form.is_hidden(field) %}
      {{ hidden(form, field) }}
    {% else %}
      {% do form.begin(skip_labels=True) -%}
      <td>{{ form.widget(field) }}</td>
      {%- do form.end() %}
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro table(form, field) %}
{% if field.value %}
  <table border=1>
    <caption>{{field.properties.label}}</caption>
    <thead>
      {{ form.table_nested_th(field) }}
    </thead>
    <tbody>
      {% for child in field %}
      <tr>
          {{ _table_td(form, child) }}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endmacro %}

{% macro habitat_breakdown(form, field) %}
  <table border=1>
    <thead>
      <tr>
        <td>{{ field.properties.label }}</td>
        <td>pondere in %</td>
      </tr>
    </thead>
    <tbody>
      {% for child_name in field.properties.order %}
      {% if field[child_name].value %}
      <tr>
          <td>{{ field[child_name].properties.label }}</td>
          {% do form.begin(skip_labels=True) -%}
          <td>{{ form.widget(field[child_name]) }}</td>
          {%- do form.end() %}
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td>TOTAL SUPRAFATA HABITAT</td>
        <td></td>
      </tr>
    </table>
{% endmacro %}

{% macro section(form, field) %}
  <h2>{{ field.properties.label }}</h2>
  {{ _dict_children(form, field) }}
{% endmacro %}
