{% set html = form_generator %}

{% macro widget(field, label=True) %}
  {%- set macro = {
      'input': input,
      'radio': radio,
      'select': select,
      'checkbox': checkbox,
      'dict': dict,
      'list': list,
      'textarea': textarea,
      'section': section,
      'table': table,
      'habitat_breakdown': habitat_breakdown,
    }[field.properties.widget] or input -%}
  {{- macro(field, label=label) -}}
{% endmacro %}

{% macro errors(field) %}
  {% for msg in field.errors %}
    <span class="error">{{ msg }}</span>
  {% endfor -%}
{% endmacro %}

{% macro input(field, label=True) %}
  {%- do html.begin(auto_domid=true, auto_for=true) %}
  {% if label %}
    {{ html.label(field, contents=field.properties.label) }}
  {% endif %}
  {{ html.input(field) }}
  {% if errors %}
    <br />
    {{- errors(field) -}}
  {% endif %}
  {%- do html.end() %}
{% endmacro %}

{% macro radio(field, label=True) %}
  {%- do html.begin(auto_domid=true, auto_for=true) %}
  <td>
  {% for value in field.valid_values %}
    {{ html.input(field, type="radio", value=value) }}
  {% endfor %}
  {% if errors %}
    <br />
    {{- errors(field) -}}
  {% endif %}
  </td>
  {%- do html.end() %}
{% endmacro %}

{% macro select(field, label=True) %}
  {{ html.select.open(field) }}
  {{ html.option(field, contents='') }}
  {% for value in field.valid_values %}
    {{ html.option(field, value=value, contents=value) }}
  {% endfor %}
  {{ html.select.close() }}
  {% if errors %}
    <br />
    {{- errors(field) -}}
  {% endif %}
{% endmacro %}

{% macro textarea(field, label=True) %}
  {%- do html.begin(auto_domid=true, auto_for=true) %}
  {{ html.label(field, contents=field.properties.label) }}
  {{ html.textarea(field) }}
  {% if errors %}
    <br />
    {{- errors(field) -}}
  {% endif %}
  {%- do html.end() %}
{% endmacro %}

{% macro checkbox(field, label=True) %}
  {%- do html.begin(auto_domid=true, auto_for=true) %}
  {{ html.label(field, contents=field.properties.label) }}
  {{ html.input(field, type="checkbox") }}
  {% if errors %}
    <br />
    {{- errors(field) -}}
  {% endif %}
  {%- do html.end() %}
{% endmacro %}

{% macro dict_children(field) %}
  {%- for child_name in field.properties.order %}
  {{ widget(field[child_name]) }}
  {% endfor -%}
{% endmacro %}

{% macro dict(field, label=True) %}
  <p>{{ field.properties.label }}</p>
  {{ dict_children(field) }}
{% endmacro %}

{% macro list(field, label=True) %}
  {{ field.properties.label }} <br />
  {{ field.append('') or "" }}
  {{ field.append('') or "" }}
  {% for child in field %}
  {{ widget(child) }}
  {% endfor %}
{% endmacro %}

{% macro table_th(field, prefix='') %}
  {% if field.properties.order %}
    {% for child_name in field.properties.order %}
      {{ table_th(field[child_name], prefix=prefix + field[child_name].properties.label + ' - ') }}
    {% endfor %}
  {% else %}
    <td>{{ prefix[:-3] }}</td>
  {% endif %}
{% endmacro %}

{% macro table_td(field) %}
  {% if field.properties.order %}
    {% for child_name in field.properties.order %}
      {{ table_td(field[child_name]) }}
    {% endfor %}
  {% else %}
    <td>{{ widget(field, label=False) }}</td>
  {% endif %}
{% endmacro %}

{% macro table(field, label=True) %}
  {%- do html.begin(auto_domid=true, auto_for=true) %}
  <table border=1>
    <caption>{{field.properties.label}}</caption>
    <thead>
      {{ field.append('') or "" }}
      {{ field.append('') or "" }}
      <tr>
        {{ table_th(field[0]) }}
      </tr>
    </thead>
    <tbody>
      {% for child in field %}
      <tr>
          {{ table_td(child) }}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {%- do html.end() %}
{% endmacro %}

{% macro habitat_breakdown(field, label=True) %}
  {%- do html.begin(auto_domid=true, auto_for=true) %}
  <table border=1>
    <thead>
      <tr>
        <td>{{ field.properties.label }}</td>
        <td>pondere in %</td>
      </tr>
    </thead>
    <tbody>
      {% for child_name in field.properties.order %}
      <tr>
          <td>{{ field[child_name].properties.label }}</td>
          <td>{{ widget(field[child_name], label=False) }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td>TOTAL SUPRAFATA HABITAT</td>
        <td></td>
      </tr>
    </table>
  {%- do html.end() %}
{% endmacro %}

{% macro section(field, label=True) %}
  {%- do html.begin(auto_domid=true, auto_for=true) %}
  <h2>{{ field.properties.label }}</h2>
  {{ dict_children(field) }}
  {%- do html.end() %}
{% endmacro %}
