{% macro empty_value(field) -%}
<!-- {{ field.flattened_name() }} is empty -->
{%- endmacro %}

{% macro _label(form, field) %}
  {% if not form['skip_labels'] %}
    <span class="label">{{ field.properties.label }}</span>
  {% endif %}
{% endmacro %}

{% macro input(form, field) %}
  {%- if not field.is_empty %}
    {{ _label(form, field) }}
    <span class="{{ "field-%s" % field.name }}">{{ field.u }}</span>
  {%- else -%}
    {{ empty_value(field) }}
  {%- endif -%}
{% endmacro %}

{% macro radio(form, field) %}
  {{ input(form, field) }}
{% endmacro %}

{% macro select(form, field) %}
  {% if field.properties.value_labels %}
    {%- if not field.is_empty %}
      {{ _label(form, field) }}
      <div class="{{ "field-%s" % field.name }}">
      {{ form.linkify(field, field.properties.value_labels[field.value]) }}
      </div>
    {%- else -%}
      {{ empty_value(field) }}
    {%- endif -%}
  {% else %}
    <div class="{{ "field-%s" % field.name }}">
    {{ input(form, field) }}
    </div>
  {% endif %}
{% endmacro %}

{% macro textarea(form, field) %}
  {{ input(form, field) }}
{% endmacro %}

{% macro hidden(form, field) %}
{% endmacro %}

{% macro checkbox(form, field) %}
  {% if field.value %}
    {{ _label(form, field) }}
  {% endif %}
{% endmacro %}

{% macro site_link(form, field) %}
  <div class="{{ "field-%s" % field.name }}">
  <a href="{{ url_for('webpages.view', doc_id=field.value) }}">{{ field.u }}</a>
  ({{ form.other_site_labels[field.value] }})
  </div>
{% endmacro %}

{% macro _dict_children(form, field) %}
  {%- for child_name in form.order(field) %}
  <div>
  {{ form.widget(field[child_name]) }}
  </div>
  {% endfor -%}
{% endmacro %}

{% macro dict(form, field) %}
  <p class="label">{{ field.properties.label }}</p>
  <div class="{{ "field-%s" % field.name }}">
  {{ _dict_children(form, field) }}
  </div>
{% endmacro %}

{% macro list(form, field) %}
  <p class="label">{{ field.properties.label }}</p>
  <ul class="{{ "field-%s" % field.name }}">
  {% for child in field %}
    <li>{{ form.widget(child) }}</li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro _table_td(form, field) %}
  {% if form.order(field) %}
    {% for child_name in form.order(field) %}
      {{ _table_td(form, field[child_name]) }}
    {% endfor %}
  {% else %}
    {% if form.is_hidden(field) %}
      {{ hidden(form, field) }}
    {% else %}
      {% do form.begin(skip_labels=True) -%}
      <td class="{{ form.container_class(field) }}">{{ form.widget(field) }}</td>
      {%- do form.end() %}
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro table(form, field) %}
{% if not field.is_empty %}
  <table class="{{ "field-%s" % field.name }}">
    <caption>
      <p class="label">{{ field.properties.label }}</p>
      {% if field.properties.helptext %}
        <p class="helpText">{{ field.properties.helptext }}</p>
      {% endif %}
    </caption>
    <thead>
      {{ form.table_nested_th(field) }}
    </thead>
    <tbody>
      {% for child in field %}
      <tr>
          {{ _table_td(form, child) }}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{%- else -%}
  {{ empty_value(field) }}
{% endif %}
{% endmacro %}

{% macro habitat_breakdown(form, field) %}
  <table class="{{ "field-%s" % field.name }}">
    <thead>
      <tr>
        <td>{{ field.properties.label }}</td>
        <td>pondere in %</td>
      </tr>
    </thead>
    <tbody>
      {% for child_name in form.order(field) %}
      {% set child_field = field[child_name] %}
      {% if not child_field.is_empty %}
      <tr>
          <td>{{ form.linkify(child_field, child_field.properties.value_labels[child_field.label]) }}</td>
          {% do form.begin(skip_labels=True) -%}
          <td class="{{ form.container_class(child_field) }}">{{ form.widget(child_field) }}</td>
          {%- do form.end() %}
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td>TOTAL SUPRAFATA HABITAT</td>
        <td></td>
      </tr>
    </table>
{% endmacro %}

{% macro section(form, field) %}
  {% if form.any_value(field) %}
  <div class="{{ "field-%s" % field.name }}">
  <h2>{{ field.properties.label }}</h2>
  {{ _dict_children(form, field) }}
  </div>
  {% endif %}
{% endmacro %}
