{% macro _label(form, field) %}
  {% if not form['skip_labels'] %}
    {{ form.label(field, contents=field.properties.label) }}
  {% endif %}
{% endmacro %}

{% macro _errors(form, field) %}
  {% for msg in field.errors %}
    <span class="error">{{ msg }}</span>
  {% endfor -%}
{% endmacro %}

{% macro input(form, field) %}
  {%- do form.begin(auto_domid=true, auto_for=true) %}
  {{ _label(form, field) }}
  {{ form.input(field, class="field-%s" % field.name) }}
  {{- _errors(form, field) -}}
  {%- do form.end() %}
{% endmacro %}

{% macro radio(form, field) %}
  {%- do form.begin(auto_domid=true, auto_for=true) %}
  <td>
  {% for value in field.valid_values %}
    {{ form.input(field, type="radio", value=value) }}
  {% endfor %}
  {{- _errors(form, field) -}}
  </td>
  {%- do form.end() %}
{% endmacro %}

{% macro select(form, field) %}
  {{ form.select.open(field, class="field-%s" % field.name) }}
  {{ form.option(field, contents='') }}
  {% for value in field.valid_values %}
    {% set value_label = (field.properties.value_labels[value]
                          if field.properties.value_labels else
                          value) %}
    {{ form.option(field, value=value, contents=value_label) }}
  {% endfor %}
  {{ form.select.close() }}
  {{- _errors(form, field) -}}
{% endmacro %}

{% macro textarea(form, field) %}
  {%- do form.begin(auto_domid=true, auto_for=true) %}
  {{ _label(form, field) }}
  {{ form.textarea(field, class="field-%s" % field.name) }}
  {{- _errors(form, field) -}}
  {%- do form.end() %}
{% endmacro %}

{% macro hidden(form, field) %}
  {{ form.input(field, type="hidden") }}
{% endmacro %}

{% macro checkbox(form, field) %}
  {%- do form.begin(auto_domid=true, auto_for=true) %}
  {{ _label(form, field) }}
  {{ form.input(field, type="checkbox") }}
  {{- _errors(form, field) -}}
  {%- do form.end() %}
{% endmacro %}

{% macro _dict_children(form, field) %}
  {%- for child_name in field.properties.order %}
  <div class="dict_children">
  {{ form.widget(field[child_name]) }}
  </div>
  {% endfor -%}
{% endmacro %}

{% macro dict(form, field) %}
  <div class="field-{{ field.name }}">
  <p>{{ field.properties.label }}</p>
  {%- do form.begin(skip_labels=False) %}
  {{ _dict_children(form, field) }}
  {%- do form.end() %}
  {{- _errors(form, field) -}}
  </div>
{% endmacro %}

{% macro list(form, field) %}
  <div class="field-{{ field.name }}">
  <p>{{ field.properties.label }}</p>
  {% do field.append('') %}
  {% do field.append('') %}
  <p>{{ field[0].properties.label }}</p>
  {%- do form.begin(skip_labels=True) %}
  {% for child in field %}
  {{ form.widget(child) }}
  {% endfor %}
  {%- do form.end() %}
  {{- _errors(form, field) -}}
  </div>
{% endmacro %}

{% macro table_td(form, field) %}
  {% if field.properties.order %}
    {% for child_name in field.properties.order %}
      {{ table_td(form, field[child_name]) }}
    {% endfor %}
  {% else %}
    {% if form.is_hidden(field) %}
      {{ hidden(form, field) }}
    {% else %}
      {% do form.begin(skip_labels=True) -%}
      <td>{{ form.widget(field) }}</td>
      {%- do form.end() %}
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro table(form, field) %}
  {%- do form.begin(auto_domid=true, auto_for=true) %}
  <table border=1 class="field-{{ field.name }}">
    <caption>{{field.properties.label}}</caption>
    <thead>
      {{ form.table_nested_th(field) }}
    </thead>
    <tbody>
      {% for child in field %}
      <tr>
          {{ table_td(form, child) }}
      </tr>
      {% endfor %}
      <tr class="table-append" style="display: none">
          {{ form.table_append(field) }}
      </tr>
      </tr>
    </tbody>
  </table>
  {%- do form.end() %}
  {{- _errors(form, field) -}}
{% endmacro %}

{% macro habitat_breakdown(form, field) %}
  {%- do form.begin(auto_domid=true, auto_for=true) %}
  <table border=1 class="field-{{ field.name }}">
    <thead>
      <tr>
        <td>{{ field.properties.label }}</td>
        <td>pondere in %</td>
      </tr>
    </thead>
    <tbody>
      {% for child_name in field.properties.order %}
      <tr>
          <td>{{ field[child_name].properties.label }}</td>
          {% do form.begin(skip_labels=True) -%}
          <td>{{ form.widget(field[child_name]) }}</td>
          {%- do form.end() %}
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td>TOTAL SUPRAFATA HABITAT</td>
        <td></td>
      </tr>
    </table>
  {%- do form.end() %}
  {{- _errors(form, field) -}}
{% endmacro %}

{% macro section(form, field) %}
  {%- do form.begin(auto_domid=true, auto_for=true) %}
  <div class="field-{{ field.name }}">
  <h2>{{ field.properties.label }}</h2>
  {{ _dict_children(form, field) }}
  </div>
  {%- do form.end() %}
{% endmacro %}
