{% macro _label(form, field) %}
  {% if not form['skip_labels'] %}
    {{ form.label(field, contents=field.properties.label) }}
  {% endif %}
{% endmacro %}

{% macro input(form, field) %}
  {%- do form.begin(auto_domid=true, auto_for=true) %}
  {{ _label(form, field) }}
  {{ form.input(field, class="field-%s" % field.name) }}
  {%- do form.end() %}
{% endmacro %}

{% macro select(form, field) %}
  {{ _label(form, field) }}
  {{ form.select.open(field, class="field-%s" % field.name) }}
  {{ form.option(field, contents='') }}
  {% for value in field.valid_values %}
    {% set value_label = (field.properties.value_labels[value]
                          if field.properties.value_labels else
                          value) %}
    {{ form.option(field, value=value, contents=value_label) }}
  {% endfor %}
  {{ form.select.close() }}
{% endmacro %}
